
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#vainroutes').dataTable({
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"bJQueryUI": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false });
	} );
</script>
<div class="routes">
	<table id="vainroutes" class="display">
	    <colgroup>
		   <col class="order"/>
		   <col class="verb"/>
		   <col class="path"/>
		   <col class="controller"/>
		   <col class="action"/>
		</colgroup>
		<thead>
			<tr>
				<th >Order</th>
				<th>Verb</th>
				<th>Path</th>
				<th>Controller</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
   			<%= render :partial => "route", :collection => @routes %>
		</tbody>
   </table>
</div>